* {
  font-family: 'Open Sans', sans-serif;
  color: grey;;
}

// lou reade art title

.titleheader {
  display: flex;
  position: fixed;
  z-index: 2; 
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E8E8E8;
  overflow-x: hidden;
}

.titleheader p {
  // height: 100%;
  padding: 0;
  font-size: 12px;
  letter-spacing: 2px;
}

//navigation links

.navbar {
  position: fixed; 
  z-index: 1; 
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  border-bottom: 1px solid #E8E8E8;
}

.navbar a {
  padding: 0px 8px 0px 8px;
  text-decoration: none;
  font-size: 16px;
  color: grey;
  left: 0;
}

.current {
  color: #70dbdb;
}

//content

body {
  min-height: 100%;
  margin: auto auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.home-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image-div img {
  width: 55vh;
}

.home-image-1 {
  // width: 55vh;
  padding-top: 10vh;
}

.nav-links {
  display: flex;
  position: fixed;
  right: 0;
  z-index: 2; 
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E8E8E8;
  overflow-x: hidden;
}

.footer-img {
  left: 0;
  width: 20px;
}

.paintings-navbar {
  background-color: pink;
  width: 500px;
  height: 5000px;
}

.testing {
  font-size: 500px;
}