.paintings-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vh;
  height: 55vh;
  padding: 10vh;
  margin: 0;
}

.paintings-navbar a {
  font-size: 30px;
  text-decoration: none;
  color: pink;
}

.paintings-navbar a:hover {
  color: #70dbdb;
}
